*{
    font-weight: lighter;
}

body{
    background-color: aqua;
}


#maintitle {
    text-align: left;
    position: relative;
    padding-left: 20px;
    padding-top: 10px;
}

#countryname {
    text-align: right;
    position: relative;
    padding-right: 20px;
    padding-top: 10px;
}

#footer {
    position: fixed;
}

